.pa1{
    padding-top: 1rem;
}
.pa2{
    padding-top: 2rem;
}
.pa3{
    padding-top: 3rem;
}
.pa4{
    padding-top: 4rem;
}
.pa5{
    padding-top: 5rem;
}
.pa6{
    padding-top: 6rem;
}
.pa7{
    padding-top: 7rem;
}
.pb2{
    padding-bottom: 2rem;
}
.pkr3{
    padding-left: 3rem;
}
.ma1{
    margin-top: 1rem;
}
.ma2{
    margin-top: 2rem;
}
.ma3{
    margin-top: 3rem;
}
.ma4{
    margin-top: 4rem;
}
.ma5{
    margin-top: 5rem;
}
.ma6{
    margin-top: 6rem;
}
.mb2{
    margin-bottom: 2rem;
}
.f18{
    font-size: 18px;
}
.f19{
    font-size: 19px;
}
.f20{
    font-size: 20px;
}
.f21{
    font-size: 21px;
}
.f22{
    font-size: 22px;
}